<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nefrit.main" >

    <application>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
