<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nefrit.users" >

    <application>
        <activity
            android:name="com.nefrit.users.presentation.UsersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>